.moviesContainer {
    display: flex;
}

.header {
    text-align: center;
}

.movies {
    width: 50%;
    padding: 5em 1em;
    min-height: 500px;
}

.selectedMovie {
    width: 50%;
    padding: 3em 1em;
    min-height: 500px;
}

.noMovieSelected {
    height: 100px;
    text-align: center;
    vertical-align: middle;
    line-height: 100px;
}

.loadingIcon {
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 600px) {
    .moviesContainer {
        flex-direction: column;
    }

    .movies {
        width: auto;
        min-height: 200px;
    }

    .selectedMovie {
        width: auto;
        min-height: 200px;
    }

    .noMovieSelected {
        padding: 5em;
    }
}